#!/bin/env ruby

module CheckpasswordBCrypt
  module Config
    module DB
      Host      = 'db_host'
      Database  = 'db_databse'
      User      = 'db_user'
      Password  = 'db_password'
      Table     = 'db_table'
      module Field
        Username   = "alias||'@'||domain"
        Password   = "password_field"
        Uid        = "uid_field"
        Quota      = "quota_field"
        Lastlogin  = 'lastlogin_field'
      end
    end
    module Mail
      Gid     = '999'
      Home    = '/home/mails/'
    end
    module BCrypt
      Cost    = 10
    end
    Migration       = true
    KeepLastLogin   = true

    # How the hash should be threated if there is no Algo specified (no {ALGO} prefix in the hash field)
    UnknownHashAlgo = lambda { |user| }

    # This example assumes, that hashes without algo defined are in the CRYPT format
    # UnknownHashAlgo = lambda { |user|
    #                            user[:hash_raw]  = user[:hash]
    #                            user[:hash_algo] = 'CRYPT' }
  end
end
